server:
  port: 8004

spring:
  application:
    name: book-service
  datasource:
    url: jdbc:h2:~/book-service
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    database: H2
    hibernate:
      ddl-auto: create-drop
    show-sql: true

  h2:
    console:
      enabled: true
      path: /console

kafka:
  bootstrapServers: 3.35.229.19:9092
  topic:
    rent:
      name: book-rent-topic
    return:
      name: book-return-topic
  consumer:
    rent:
      groupName: book-rent-consumer-group
    return:
      groupName: book-return-consumer-group

logging:
  level:
    org.hibernate.type: debug

eureka:
  instance:
    non-secure-port: ${server.port}
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8000/eureka/

ribbon:
  eureka:
    enabled: true

security:
  jwt:
    uri: /auth/**
    header: Token
    prefix: Bearer
    expiration: 86400 # 24*60*60
    secret: JwtSecretKey
